:root {
  --base-size: 20px;
}

html {
  font-size: 16px;
  font-family: "aileron", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#lock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate3d(1, 1, 1, 17deg);
  font-size: var(--base-size);
  margin-top: 25vh;
  margin-left: 3vw;
}

button {
  font-family: "aileron", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  background-color: white;
}

button:hover {
  background-color: grey;
}

#enter-button {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 10px black;
}

.circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 10px black;
}

.circle:hover {
  background-color: grey;
}

.letter {
  margin-top: 1em;
  user-select: none;
}

#description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate3d(1, 1, 1, 17deg);
}

#description-circle {
  background-color: white;
  box-shadow: 0px 0px 10px black;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

#title {
  padding: 2rem 4rem;
  text-align: center;
  margin-bottom: 0rem;
}

#description-text {
  padding: 0rem 2rem;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#email-text {
  margin-top: 1rem;
}

@keyframes lockIn {
  0% {
    box-shadow: 0px 0px 10px black;
    opacity: 1;
  }
  20% {
    box-shadow: 0px 0px 0px black;
    opacity: 1;
  }
  100% {
    box-shadow: none;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes inAndThrough {
  from {
    font-size: var(--base-size);
    opacity: 1;
    transform: rotate3d(1, 1, 1, 17deg);
  }
  to {
    font-size: 100px;
    opacity: 0;
    transform: rotate3d(1, 1, 1, 90deg);
  }
}

@keyframes fromBehind {
  from {
    font-size: 0px;
    opacity: 0;
    margin-left: 50vw;
    margin-top: 0vh;
    transform: rotate3d(1, 1, 1, -70deg);
  }
  to {
    font-size: var(--base-size);
    opacity: 1;
    margin-left: 7vw;
    margin-top: 30vh;
    transform: rotate3d(1, 1, 1, 17deg);
  }
}
