:root {
  --base-size: 20px;
}

html {
  font-size: 16px;
  font-family: "aileron", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#lock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate3d(1, 1, 1, 17deg);
  font-size: var(--base-size);
  margin-top: 25vh;
  margin-left: 3vw;
}

button {
  font-family: "aileron", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  background-color: white;
}

#enter-button {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 10px #c32f27;
}

.wrong:active {
  background-color: #c32f27;
}

.circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#circle1 {
  box-shadow: 0px 0px 10px #f7b538;
}

#circle2 {
  box-shadow: 0px 0px 10px #90a972;
}

#circle3 {
  box-shadow: 0px 0px 10px #2978d9;
}

.letter {
  margin-top: 1em;
  user-select: none;
}
/*
#description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate3d(1, 1, 1, 17deg);
}*/

#description-container {
  position: relative;
  transform: translate(-0.5rem, 0rem) rotate(-45deg);
}

:root {
  --angle: 6.25deg;
  --email-angle: -6.25deg;
}

.description-container-span {
  width: 1em;
  white-space: nowrap;
  text-indent: calc(var(--i) * -1em);
  overflow: hidden;
  position: absolute;
  transform: rotate(calc(var(--angle) * var(--i)))
    translateY(calc(-1em / sin(var(--angle))));
}

#email-container {
  position: relative;
  transform: rotate(7deg);
}

.email-text {
  width: 1em;
  white-space: nowrap;
  text-indent: calc(var(--i) * -1em);
  overflow: hidden;
  position: absolute;
  transform: rotate(calc(var(--email-angle) * var(--i)))
    translateY(calc(-0.96em / sin(var(--email-angle))));
}

#description-circle {
  background-color: white;
  box-shadow: 0px 0px 10px black;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

#title {
  padding: 0rem 4rem;
  text-align: center;
  margin-bottom: 4rem;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 200;
}

#letter-container {
  margin-top: -1rem;
  margin-left: -1rem;
}

.letter-description {
  position: absolute;
  width: 1rem;
  height: 1rem;
}

.letter-email {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
}

#description-text {
  padding: 0rem 2rem;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 300;
}

@keyframes lockIn {
  0% {
    box-shadow: 0px 0px 10px black;
    opacity: 1;
  }
  20% {
    box-shadow: 0px 0px 0px black;
    opacity: 1;
  }
  100% {
    box-shadow: none;
    opacity: 0;
    z-index: -10;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes inAndThrough {
  from {
    font-size: var(--base-size);
    opacity: 1;
    transform: rotate3d(1, 1, 1, 17deg);
  }
  to {
    font-size: 100px;
    opacity: 0;
    transform: rotate3d(1, 1, 1, 90deg);
  }
}

@keyframes fromBehind {
  from {
    font-size: 0px;
    opacity: 0;
    margin-left: 50vw;
    margin-top: 0vh;
    transform: rotate3d(1, 1, 1, -70deg);
  }
  to {
    font-size: var(--base-size);
    opacity: 1;
    margin-left: 7vw;
    margin-top: 30vh;
    transform: rotate3d(1, 1, 1, 17deg);
  }
}
